.background {
  height: 400vh;
  // border: thick double #32a1ce;
  background-image: url('../assets/images/bg-blue-large.png');
  background-attachment: fixed;
  ;
}

.ui.segment {
  background-color: #1d266c;
}

p {
  color: white
} 

.recharts-legend-wrapper {
  color:#ffbcb6;
}